<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75"
            src="https://scontent.fcgh2-1.fna.fbcdn.net/v/t1.0-9/81379722_2572595902826780_3203897263235530752_o.jpg?_nc_cat=107&ccb=2&_nc_sid=174925&_nc_ohc=duBiDcmELyYAX-of-cM&_nc_ht=scontent.fcgh2-1.fna&oh=45f7ab6332326bcd109ac5037773960a&oe=5FEFD3E5"
            alt="foto Thais Gonçalves, mulher branca de cabelo escuro e longo, no terraçõ de um prédio, com 
            prédios ao fundo. Usa uma camiseta longa xadrez azul, short jeans e oculos escuro">
    </div>

    <div class="card-body">
        <h5 class="card-title text-center text-monospace text-uppercase">{{nome}}</h5>
        <p class="card-text text-center text-monospace">Desenvolvedora Full Stack Java Jr.</p>

        <a href="https://www.linkedin.com/in/thais-goncalves-silva/"
            class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">Linkedin</a>
        <a href="https://github.com/ThaisGoncalves" class="btn btn-outline-dark d-flex justify-content-center"
            target="_blank">Github</a>
    </div>
</div>