<!--footer-->
<footer class="page-footer font-small bg-secondary pt-4">
    <!--footer elements-->
    <div class="container">
        <!--call to action-->
        <div class="row w-100">
            <div class="col-md-12 d-flex justify-content-center">
                <h4>Fale comigo</h4>
            </div>
        </div>
    </div>

    <div class="row w-100">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="social-network">

             <!-- <li> <a href="mailto:thais.gosil@gmail.com" target="_blank">
                    <fa-icon [icon]="faEmail" class="faGmail fa-3x p-3" title="gmail"></fa-icon>
                </a>
            </li>
            --> 
            <li> <a href="https://github.com/ThaisGoncalves" target="_blank">
                       <fa-icon [icon]="faGithub" class="faGithub fa-3x p-3" title="github"></fa-icon>
                </a>
            </li>
            <li>  <a href="https://www.linkedin.com/in/thais-goncalves-silva/" target="_blank">
                    <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3 "title="linkedin"></fa-icon>
                </a>
            </li>
           <!-- <li> <a href="https://api.whatsapp.com/send?phone=5511948678242" target="_blank">
                    <fa-icon [icon]="faWhatsapp" class="faWhatsapp fa-3x p-3" title="whatsapp"></fa-icon>
                </a>
            </li>
        --> 
            </ul>
        </div>
    </div>
     <!--/call to action-->
      <!--copyright-->
<div class="footer-copyright bg-dark text-center py-3">
<span class="text-light">
    Thais Gonçalves© 2020
</span>
</div>
      <!--\copyright-->
</footer>